*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin/classes.dex
bin/*.apk
bin/resources.ap_
bin/uk
bin
bin/javax
lint.xml
bin/classes
bin/res
bin/jarlist.cache
icon-120.jpg
icon-120.png
icon.png
bin/dexedLibs
bin/AndroidManifest.xml
